.App {
  font-family: sans-serif;
}

.UserList {
  list-style: none;
  padding-left: 0;
}

.UserList li {
  margin-bottom: 20px;
}

.UserCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding-right: 10px;
}

.UserCard__main-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.UserCard__main-info button {
  margin-left: auto;
}

.UserCard__main-info img {
  margin-right: 5px;
}
